/**
 * / style
 */

#bots {
  padding: 1em;
}

#bots .bot {
  border: 2px solid #fff;
  background-color: #fff;
  float: left;
  padding: 0.5em;
  margin: 0.5em;
  color: #3b5b5c;

  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

#bots .bot a {
  color: #145166;
}

#bots .bot .name {
  font-family: monospace;
  text-align: center;
}

#bots .bot .header {
  display: none;
  font-size: 1.8em;
  font-weight: bold;
}

#bots .bot .commands .command {
  color: #000;
  font-size: 1em;
  font-family: monospace;
  margin: 0.2em;
}

#bots .bot .commands .command .parameters {
  display: none;
}

#bots .bot .commands .command .parameter {
  font-style: italic;
}

#bots .bot .commands .command .howto {
  margin-left: 1em;
  display: none;
}

#bots .bot .interaction {
  padding: 1em;
  text-align: center;
  display: none;
}



#bots .bot:hover {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
}

#bots .bot:hover .name {
  font-size: 1.8em;
}

#bots .bot:hover .header {
  display: block;
}

#bots .bot:hover .commands .command {
  font-size: 1.2em;
  padding: 0.5em;
}

#bots .bot:hover .commands .command .parameters {
  display: inline;
}

#bots .bot:hover .commands .command .howto {
  display: block;
}

#bots .bot:hover .interaction {
  display: block;
}
